/*------------------------------*/
/*Basic setup*/
/*------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #433a3a;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*------------------------------*/
/*Header*/
/*------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(bg.jpg);  
    background-size: cover;
    background-position: center;
    height: 100vh;  /*means 100 % of view port */
}

.top{
    background-color: white;
    height: 10%;
}

a{
    color: black;
}

.logo{
    height: 52px;
    width: 154px;
    padding-left: 30px;
}

.signup{
    height: 80%;
    width: auto;
}
.subclasss{
    border: 1px;

}
.bottom{
    background-color: white;
    height: 10%;
}